In [131]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sn

df_titanic = pd.read_csv('titanic.csv')
df_titanic.head()

mode = stats.mode(data)
print(mode)

data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])

def compute_mean(dataset):
    # make a sum variable
    sum = 0

    # loop over the listand add up all total
    for t in dataset:
        sum = sum + t

    # divide the total by the length of the list
    mean = sum / len(dataset)

    # return the mean
    return mean

compute_mean(data)

ModeResult(mode=array([3]), count=array([5]))

4.391304347826087

In [132]:
np.mean(data)

4.391304347826087

In [133]:
def compute_median(dataset):
    # check if the dataset is even or odd
    if dataset % 2 != 0:
      # if odd, subtract the length by 1, divide in half, and then take the next element
      median_index = (len(dataset) - 1)/2 + 1
      median = dataset[median_index]
    else:
      # otherwise, divide the dataset in half and take the mean of the two middling elements
      left_index = len(dataset)/2 + 1
      right_index = len(dataset)/2 - 1
      median = (dataset(left_index) + dataset(right_index))/2
    return median

In [134]:
np.median(data)

4.0

In [135]:
df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [55, 15, 8, 12],
                   [15, 14, 1, 8], [7, 1, 1, 8], [5, 4, 9, 2]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3', 'Basket4',
                         'Basket5', 'Basket6'])

print("\n----------- Calculate Mean -----------\n")
print(df.mean())

print("\n----------- Calculate Median -----------\n")
print(df.median())

print("\n----------- Calculate Mode -----------\n")
print(df.mode())

----------- Calculate Mean -----------

Apple     16.500000
Orange    11.333333
Banana    11.666667
Pear      16.333333
dtype: float64

----------- Calculate Median -----------

Apple      8.5
Orange    14.0
Banana     8.5
Pear      10.0
dtype: float64

----------- Calculate Mode -----------

   Apple  Orange  Banana  Pear
0      7      14       1     8

In [136]:
df.describe()

           Apple     Orange     Banana       Pear
count   6.000000   6.000000   6.000000   6.000000
mean   16.500000  11.333333  11.666667  16.333333
std    19.180719   7.257180  11.587349  14.555640
min     5.000000   1.000000   1.000000   2.000000
25%     7.000000   6.500000   2.750000   8.000000
50%     8.500000  14.000000   8.500000  10.000000
75%    13.750000  14.750000  18.000000  24.000000
max    55.000000  20.000000  30.000000  40.000000

In [137]:
df.shape

(6, 4)

In [138]:
df.dtypes

Apple     int64
Orange    int64
Banana    int64
Pear      int64
dtype: object

In [139]:
df.isnull().sum()

Apple     0
Orange    0
Banana    0
Pear      0
dtype: int64

In [140]:
df_titanic['Age'].mean()
df_titanic['Age'].median()
df_titanic['Age'].mode()

0    24.0
dtype: float64

In [ ]:
df_titanic["Age"].max()

In [ ]:
df_titanic["Fare"].min()

In [ ]:
(df_titanic["Fare"].min(), df_titanic["Fare"].max())

In [ ]:
variance_1 = [7,8,7,8,9,6,7,7,7,8,9,8,7,4]

print("Variance:", np.var(variance_1))
print("Mean:", np.mean(variance_1))
print("Min:", np.min(variance_1))
print("Max:", np.max(variance_1))
print("Range:", np.max(variance_1) - np.min(variance_1))

In [ ]:
variance_2 = [102,2,50023,30,3040,50,20,1,50,-304,-50349]

print("Variance:",np.var(variance_2))
print("Mean:", np.mean(variance_2))
print("Min:", np.min(variance_2))
print("Max:", np.max(variance_2))
print("Range:", np.max(variance_2) - np.min(variance_2))

In [ ]:
def standard_deviation(series):    
     # Compute the mean of the series
  # Find the squares of all the deviations from the mean
  # Sum the squares of the deviations from the mean
  # Divide this sum by the total number of data values
  # Take the squareroot of this quotient.
    series_mean = np.mean(series)
    squares = float()
    for number in series:
        square = (number - series_mean)**2
        squares += square
    total = np.sqrt(squares / len(series))
    return total
    # squares.append(square)
        
print("Standard Deviation:", standard_deviation(variance_1))
print("Standard Deviation:", np.std(variance_1))
print("Standard Deviation:", standard_deviation(variance_2))
print("Standard Deviation:", np.std(variance_2))

In [ ]:
df = pd.read_csv('titanic.csv')
df.var()

In [ ]:
df.hist('Age')
df.hist('Fare')

In [ ]:
df.describe()

In [ ]:
# Age Histogram
plt.hist(df.Age)
plt.axvline(df.Age.mean(), color='k', linestyle='dashed', linewidth=1)
plt.title('Ages of Passengers on Titanic')
plt.ylabel('Count')
plt.xlabel('Age (in Years)')

In [ ]:
plt.hist(df.Fare)
plt.axvline(df.Fare.mean(), color='k', linestyle='dashed', linewidth=1)
plt.title('Fares of Passengers on Titanic')
plt.ylabel('Count')
plt.xlabel('Fare (in Dollars)')

In [ ]:
# Age
plt.axvline(df.Age.mean()+df.Age.std(), color='k', linestyle='dashed', linewidth=1)
plt.axvline(df.Age.mean()-df.Age.std(), color='k', linestyle='dashed', linewidth=1)

In [ ]:
# Fare
plt.axvline(df.Fare.mean()+df.Fare.std(), color='k', linestyle='dashed', linewidth=1)
plt.axvline(df.Fare.mean()-df.Fare.std(), color='k', linestyle='dashed', linewidth=1)

In [ ]:
df['Survived'].corr(df['Age'])

In [ ]:
df['Sex'].str.get_dummies().corrwith(df['Survived']/df['Survived'].max())

In [ ]:
df.corr()

In [ ]:
sn.heatmap(df.corr(), annot=True)
plt.show()

In [142]:
df = df.drop(['PassengerId'], axis=1)

KeyError: "['PassengerId'] not found in axis"